In [1]:
import pandas as pd 
import datetime as dt
import fnmatch
import os
import pymysql
from sqlalchemy import create_engine
import sys
import json
import numpy_financial as np

In [2]:
fecha_inicio = dt.date(2023,1,1)
#fecha_inicio = dt.datetime.now().date()-dt.timedelta(days=120)

In [3]:
fecha_inicio.year
fecha_inicio.month
#fecha_inicio.day
str(fecha_inicio)

'2023-01-01'

In [4]:
cnx = pymysql.connect(host='159.89.90.197', port=3306, user='antonio_diaz', passwd="4nT0ni_0.dZ",
                           charset='utf8',db = 'volana')



cursor = cnx.cursor()
sql_query = """
            select id_distribuidor,id_asociado, asociado,inicio_credito,fin_credito,dispersion, capital,interes,iva,tasa,
            id_distribuidor_linea_de_credito,pago_quincenal, seguro
            from colocacion_asociado
            where date(dispersion)>='"""+str(fecha_inicio)+"""'
            and tipo_prestamo = "PRESTAMO PERSONAL RED"
            -- and id_distribuidor = '152308'
            order by dispersion asc
            """
cursor.execute(sql_query)
result = cursor.fetchall()



cursor = cnx.cursor()
sql_query_2 ="""
                select id_distribuidor, fecha_pago,capital, importe_aplicado
                from pagos_desglosados
                where date(fecha_pago)>='"""+str(fecha_inicio)+"""'
                -- and id_distribuidor = '152308'
                """

cursor.execute(sql_query_2)
result_2 = cursor.fetchall()
cnx.close()

In [5]:
results_df = pd.DataFrame(result, columns = 
                          ["id_distribuidor","id_asociado", "asociado","inicio_credito",
                           "fin_credito","dispersion","capital","interes",
                           "iva","tasa","id_distribuidor_linea_de_credito",
                          "pago_quincenal","seguro"])

results_df_2 = pd.DataFrame(result_2, columns = 
                          ["id_distribuidor","fecha_pago","capital","importe_aplicado"])

In [6]:
results_df.head()

,id_distribuidor,id_asociado,asociado,inicio_credito,fin_credito,dispersion,capital,interes,iva,tasa,id_distribuidor_linea_de_credito,pago_quincenal,seguro
0,139409,139412,ALEJANDRO ENRIQUE HERNANDEZ VILLARREAL,2023-01-09,2023-04-24,2023-01-02,14000.0,3239.13,518.26,132.0,115345,1110,464.0
1,139409,139414,MARIA DEL CARMEN LORANCA RIVERA,2023-01-09,2023-04-24,2023-01-02,10000.0,2407.35,385.18,137.0,115342,800,464.0
2,139409,139490,GLORIA ESTHER ARIDA ESCOBAR,2023-01-09,2023-04-24,2023-01-02,6000.0,1500.83,240.13,142.0,139215,484,464.0
3,139409,139491,SAYURI MICHELLE TAPIA ARIDA,2023-01-09,2023-04-24,2023-01-02,6000.0,1500.83,240.13,142.0,139211,484,464.0
4,139409,139492,QUESIA LIZBETH CRUZ LORANCA,2023-01-09,2023-04-24,2023-01-02,6000.0,1500.83,240.13,142.0,139351,484,464.0

In [7]:
results_df_2

      id_distribuidor          fecha_pago   capital importe_aplicado
0              111373 2023-10-01 00:00:00     503.1              670
1              155622 2023-10-01 00:00:00      6000             6000
2               16661 2023-10-01 00:00:00    487.12             1013
3               77889 2023-10-01 00:00:00         0               11
4               49302 2023-10-01 00:00:00   1810.58             2798
...               ...                 ...       ...              ...
81101          149358 2024-05-15 18:16:04    593.27             1355
81102          181548 2024-05-15 19:30:57   8290.66            10000
81103          181548 2024-05-15 19:33:09       962             1184
81104           74349 2024-05-15 19:44:04  11384.66            20000
81105          177727 2024-05-15 20:00:15   10433.4            11200

[81106 rows x 4 columns]

In [8]:
payments_dict = dict()

In [ ]:
for index,row in results_df_2.iterrows():
    if row["id_distribuidor"] not in payments_dict:
        payments_dict[row["id_distribuidor"]]=[[],[],[]]
    
    payments_dict[row["id_distribuidor"]][0].append(row["fecha_pago"].date())
    payments_dict[row["id_distribuidor"]][1].append(row["capital"])
    payments_dict[row["id_distribuidor"]][2].append(row["importe_aplicado"])

In [ ]:
payments_dict

In [ ]:
new_dict = {"id_asociado":list(), "asociado":list(),"fecha_amortizacion":list(),
            "pago_total":list(),"capital":list(),"saldo":list(),
            "interes":list(),"iva":list(),"tasa":list(),"id_distribuidor":list(),
            #"capital_pago":list()
            "pago_acumulado":list(),"pago_esperado_acumulado":list(), "fecha_pago":list(),
            "%_pagado":list()
           }

pagos_esperados_dict = dict()

for index, row in results_df.iterrows():
    if row["id_distribuidor"] not in pagos_esperados_dict:
            pagos_esperados_dict[row["id_distribuidor"]]=0.0
    pagos_esperados_dict[row["id_distribuidor"]]+=float(row["pago_quincenal"]) + (float(row["seguro"])/16.00)

for index, row in results_df.iterrows():
    iterative_date = row["inicio_credito"]
    tasa = (row["tasa"]/52)/100
    semanas = 16
    saldo = row["capital"]
    pct_iva = 0.16  
    #amortizacion_counter=0
    cummulative_payment=0.0
    cummulative_expected=0.0
    for i in range(16):
        new_dict["id_distribuidor"].append(row["id_distribuidor"])
        new_dict["id_asociado"].append(row["id_asociado"])
        new_dict["asociado"].append(row["asociado"])
        fecha_amortizacion = iterative_date
        new_dict["fecha_amortizacion"].append(fecha_amortizacion)
        iterative_date = iterative_date + dt.timedelta(days=7)
        
        new_dict["saldo"].append(saldo)
        
        capital = np.ppmt(tasa,i+1,semanas,-row["capital"])
        new_dict["capital"].append(capital)
        
        interes = np.ipmt(tasa,i+1,semanas,-saldo)
        new_dict["interes"].append(interes)
        
        new_dict["iva"].append(interes*pct_iva)
        pago_total = capital+interes + (interes*pct_iva)
        new_dict["pago_total"].append(pago_total)
        saldo -= capital
        
        new_dict["tasa"].append(row["tasa"])
        
        cummulative_expected+=pagos_esperados_dict[row["id_distribuidor"]]
        #cummulative_payment=0.0
        if row["id_distribuidor"] in payments_dict:
            date_counter=0
            fecha_pago = ""
            
            for date in payments_dict[row["id_distribuidor"]][0]:
                fecha_final=fecha_amortizacion+dt.timedelta(days=6)
                if date_counter==0:
                    fecha_amortizacion-=dt.timedelta(days=6)
                if fecha_amortizacion <= date <= fecha_amortizacion+dt.timedelta(days=6):
                    payment_amount=float(payments_dict[row["id_distribuidor"]][2][date_counter])
                    cummulative_payment+=payment_amount
                    fecha_pago = date
                    #print(payment_amount,date)
                date_counter+=1
        new_dict["fecha_pago"].append(fecha_pago)
        #new_dict["capital_pago"].append(payment_amount)
        new_dict["pago_acumulado"].append(cummulative_payment)
        new_dict["pago_esperado_acumulado"].append(cummulative_expected)
        new_dict["%_pagado"].append(cummulative_payment/cummulative_expected)
        #amortizacion_counter+=1

In [ ]:
processed_df = pd.DataFrame.from_dict(new_dict)

In [ ]:
processed_df.head()

In [ ]:
processed_df.query("id_asociado=='155457'")

In [ ]:
max_pago_acumulado = processed_df.groupby("id_asociado")["pago_acumulado"].max()
max_pago_esperado = processed_df.groupby("id_asociado")["pago_esperado_acumulado"].max()
max_pago_acumulado_df = max_pago_acumulado.reset_index()
max_pago_esperado_df = max_pago_esperado.reset_index()

In [ ]:
max_pago_acumulado_df.query("id_asociado=='155457'")

In [ ]:
max_pago_esperado_df.query("id_asociado=='155457'")

In [ ]:
for index, row in processed_df.iterrows():
    if  not row['fecha_pago']:
        #print(row["pago_acumulado"])
        #print(max_pago_acumulado_df[max_pago_acumulado_df['id_asociado'] == row["id_asociado"]]['pago_acumulado'].iloc[0])
        if row["pago_acumulado"]<= max_pago_acumulado_df[max_pago_acumulado_df['id_asociado'] == row["id_asociado"]]['pago_acumulado'].iloc[0]:
            processed_df.at[index, 'fecha_pago'] = row["fecha_amortizacion"]
            #print(row["fecha_amortizacion"])

In [ ]:
processed_df.query("id_asociado=='155457'")

In [ ]:
processed_df.to_excel("./data/amortizaciones_"+str(fecha_inicio)+"_"+str(dt.datetime.now().date())+".xlsx")